.benefits__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .benefits__item {
    @media screen and (min-width: 480px) {
      flex-basis: 450px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: 354px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: 270px;
    }
  }
  
  .advantage {
    height: 120px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  
    margin-bottom: 30px;
  }
  
  .advantage__title {
    font-weight: 700;
    font-size: inherit;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
  
  .advantage__content {
    line-height: calc(24 / 14);
    color: var(--content--text-color);
  }
  