.filters__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  
  .filters__btn {
    background-color: var(--button-bg-secondary-color);
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: inherit;
    color: inherit;
  
    transition: color var(--main-transition), background-color var(--main-transition),
      box-shadow var(--main-transition);

    &:hover,
    &:focus {
      background-color: var(--button-bg-main-color);
      color: var(--light-text-color);
    
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  