.footer {
    background-color: var(--main-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 165px;
    row-gap: 60px;

    @media screen and (min-width: 1200px) {
      column-gap: 70px;
    }
  }
  
  .address {
    font-style: inherit;
  }
  
  .address__physical {
    line-height: calc(24 / 14);
    color: var(--light-text-color);
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  
  .address__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  
  .address__link {
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);
    display: block;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  
  .footer__call {
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--light-text-color);
  
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
