.projects {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--greed-gap);
    column-gap: var(--greed-gap);

    @media screen and (min-width: 768px) {
      --greed-col-number: 2;
    }

    @media screen and (min-width: 1200px) {
      --greed-col-number: 3;
    }
  }
  
  .project {
    flex-basis: calc( (100% - var(--greed-col-number) * var(--greed-gap) + var(--greed-gap)) / var(--greed-col-number) );
  }
  
  .project__link {
    display: block;
    transition: box-shadow var(--main-transition);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: transform var(--main-transition);
    }
  }
  
  .project__card {
    position: relative;
    overflow: hidden;
  }
  
  .project__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .project__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
    background: var(--overlay-main-color);
  
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
  
    transform: translate(0, 100%);
    transition: transform var(--main-transition);

    .project__link:hover &,
    .project__link:focus & {
      transform: translate(0);
    }
  }
  
  .project__description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  
    border-left: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
  }
  
  .project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-text-color);
  }
  
  .project__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--content--text-color);
  }
  