//

//
.header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // gap: 90px;
    // gap: auto;
  }
  
  .navigation {
    margin-right: 96px;

    @media screen and (max-width: 767px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
    
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    @media screen and (min-width: 1200px) {
      margin-right: auto;
    }
  }
  
  .navigation__list {
    display: flex;
    gap: 50px;
  }

  .contacts {
    display: flex;
    // gap: 30px;
    row-gap: 10px;
    column-gap: 30px;
    flex-wrap: wrap;

    // background-color: aqua;

    // margin-left: auto;

    @media screen and (max-width: 767px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
    
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
  
  // .navigation__item:not(:last-child),
  // .contacts__item:not(:last-child) {
  //   margin-right: 50px;
  // }
  
  .navigation__link,
  .contacts__link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }
  
  .contacts__link {
    color: var(--content--text-color);
    display: flex;
    gap: 10px;
    align-items: center;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }
  }
  
  .contacts__icon {
    fill: currentColor;
  }

  /* Active page styling */
.navigation__link--active {
  position: relative;
  color: var(--selected-text-color);

  &::after {
    content: '';
  
    position: absolute;
    top: 45px;
    left: 0px;
    display: block;
    width: 100%;
    height: 4px;
  
    background-color: var(--selected-text-color);
    border-radius: 2px;
  }
}

//
.mobile-menu {
  // fill: tomato;

  @media screen and (min-width: 768px) {
    visibility: hidden;
    
    // position: absolute;
    // width: 1px;
    // height: 1px;
    // margin: -1px;
    // border: 0;
    // padding: 0;
  
    // white-space: nowrap;
    // clip-path: inset(100%);
    // clip: rect(0 0 0 0);
    // overflow: hidden;
  }
}
