.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--selected-text-color);

    &__text--dark {
        color: var(--dark-text-color);
      }

    &__text--light {
        color: var(--light-text-color);
      }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: calc(31 / 26);
    }
  }
  
  .header__logo {
    margin-right: 93px;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: 20px;
    
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  