.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  
    background: var(--backdrop-main-color);
  
    transition: opacity var(--main-transition), visibility var(--main-transition);
  }
  
  .modal {
    position: absolute;

    width: calc(100% - 30px);
    min-height: 609px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  
    background: var(--window--bg-main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: transform var(--main-transition);

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 609px;
    }

    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }
  }
  
  .modal__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: var(--window--bg-main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  
    color: #000000;
    transition: color var(--main-transition);

    &:hover,
    &:focus {
      color: var(--selected-text-color);
    }
  }
  
  .modal__close-icon {
    fill: currentColor;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
  
  /* register form of modal window */
  .register-form__title {
    display: block;
  
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
  
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      line-height: calc(23 / 20);
    }
  }
  
  .input-field {
    display: block;
  
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
  
    margin-bottom: 10px;
  }
  
  .input-field__group {
    position: relative;
    margin-top: 4px;
  
    color: var(--main-text-color);
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--main-transition), color var(--main-transition);

    &:focus-within {
      color: var(--selected-text-color);
      border-color: var(--selected-text-color);
    }
  }
  
  .input-field__input {
    display: block;
    width: 100%;
    height: 40px;
  
    padding-left: 32px;
    font-size: 16px;
  
      // input style reset
    border: none;
    background: none;
    outline: none;
  }
  
  .input-field__icon {
    position: absolute;
    left: 21px;
    top: 50%;
    transform: translate(-50%, -50%);
  
    fill: currentColor;
  }
  
  .text-field {
    display: block;
    margin-bottom: 20px;
  
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .text-field__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
  
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  
    outline-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    margin-top: 4px;

    &:focus {
      border-color: var(--selected-text-color);
    }

    &::placeholder {
      font-size: 12px;
      line-height: var(14 / 12);
      letter-spacing: 0.01em;
    
      color: rgba(117, 117, 117, 0.5);
    }
  }
  
  /* custom checkbox */
  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .checkbox__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #757575;
  }
  
  .checkbox__link {
    color: var(--selected-text-color);
  }
  
  .checkbox__icon {
    outline: 2px dashed transparent;
    outline-offset: 1px;
    border-radius: 2px;
    
    transition: outline-color var(--main-transition);

    &--non-checked {
      transition: opacity var(--main-transition);
    }

    &--checked {
      transition: opacity var(--main-transition);
      opacity: 0;
    }
  }
  
  .register-form-checkbox:checked 
  + .checkbox__label 
  .checkbox__icon
  .checkbox__icon--checked {
    opacity: 1;
  }
  
  .register-form-checkbox:checked 
  + .checkbox__label 
  .checkbox__icon
  .checkbox__icon--non-checked {
    opacity: 0;
  }
  
  .register-form-checkbox:focus 
  + .checkbox__label 
  .checkbox__icon {
    outline-color: var(--main-text-color);
  }
  
  /* submit button */
  .register-form__btn {
    display: block;
  
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-text-color);
  
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    background-color: var(--button-bg-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    margin-left: auto;
    margin-right: auto;
  
    transition: background-color var(--main-transition);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
  