  .subscription-form {
    // padding-left: 14px;

    @media screen and (min-width: 1200px) {
      padding-left: 23px;
    }

    @media screen and (max-width: 1199px) {
      max-width: 500px;
    }
  }
  
  .subscription-form__title {
    display: block;
  
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--light-text-color);
  
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  
  .subscription-form__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 12px;
  }
  
  .subscription-form__input {
    width: 290px;
    height: 50px;
  
    padding-left: 16px;
    padding-right: 16px;
  
    font-size: 16px;
    color: var(--light-text-color);
  
    outline: none;
    background: none;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-size: 16px;
        line-height: calc(20 / 16);
        color: rgba(255, 255, 255, 0.6);
      }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 385px;
    }
  }
  
  .subscription-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-text-color);
  
    background: var(--button-bg-main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  