.team {
    background-color: var(--secondary-bg-color);
  }
  
  .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 300px;
  }
  
  .team-member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--card--bg-main-color);
  }
  
  // .team-member:not(:last-child) {
  //   margin-right: 30px;
  // }
  
  //pic

  .team-member__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-member__name,
  .team-member__position {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
  }
  
  .team-member__name {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .team-member__position {
    color: var(--content--text-color);
    margin-bottom: 16px;
  }
  