:root {
    /*fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
  
    /* text colors */
    --main-text-color: #212121;
    --content--text-color: #757575;
    --selected-text-color: #2196f3;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
  
    /* background colors */
    --main-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --card--bg-main-color: #ffffff;
    --window--bg-main-color: #ffffff;
    --button-bg-main-color: #2196f3;
    --button-bg-secondary-color: #f5f4fa;
    --overlay-main-color: rgba(33, 150, 243, 0.9);
    --backdrop-main-color: rgba(0, 0, 0, 0.2);
  
    /* border colors */
    --main-border-color: #eeeeee;
  
    /* icon colors*/
    --main-icon-color: #afb1b8;
    --secondary-icon-color: #ffffff;
    --icon-bg-footer-color: rgba(255, 255, 255, 0.1);
  
    /* transitions*/
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // greed geometry
    --greed-gap: 30px;
    --greed-col-number: 1;
  }
